SUPABASE_URL=https://kjhraumvwdqjazuioejs.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqaHJhdW12d2RxamF6dWlvZWpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzQ0MjY5NywiZXhwIjoyMTAzMDE4Njk3fQ.CJlkeP_fJyJnU9mPue719z3C9lF7-TX_sHgGq2VgtzI
LLM_API_KEY=
LLM_MODEL=
WEB_SEARCH_API_KEY=
EMBEDDING_MODEL=
#Hiiiiiiiiiiiiiiiiii